body {
    background-image: url("/img/background.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content-wrapper {
    min-height: 220px;
}

.main-content-datepicker {
    margin-top: 20px;
}

.main-content-text {
    margin-top: 20px;
}

.capitals-group-wrapper {
    /*display: flex;*/
    /*justify-content: center;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

.user-city-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-left: 15px;
    border-radius: 12px;
}

.user-weather-entry {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-temp {
    font-size: 48px;
    font-weight: bold;
}

.weather-icon-wrapper {
    line-height: 48px;
}

.weather-status {
    font-weight: 600;
}





